.fvp-sm-clear {
	clear:both;
}

.fvp-sm-social-icons, .fvp-sm-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fvp-sm-chooser-container {
	display: inline-block;
	margin-right: 20px;
}
.fvp-sm-itemgreen, .fvp-sm-itemred {
	text-align: center;
}
.fvp-sm-itemgreen {
	color: green;
}
.fvp-sm-itemred {
	color: red;
}

.fvp-sm-social-icons {
	width: 100%;
	padding: 20px;
}

.fvp-sm-text {
	width: 100%;
	margin-bottom: 18px;
	padding-left:20px;
}

.fvp-sm-social-icons > ul {
	padding: 0;
	margin: 0;
}

.fvp-sm-unsortable {
	text-align: center;
}

.fvp-sm-social-icons ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

.fvp-sm-social-icons ul li a {
	border: none;
}

.fvp-sm-item {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

/*
	=================================
	  Style types
	=================================
*/

/* Type 1 */
.fvp-sm-social-icons-type1 .fvp-sm-item {
	width: 40px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #fff;
}

/* type 2 */

.fvp-sm-social-icons-type2 .fvp-sm-item {
	width: 40px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #fff;
}

/* Type 3 */
.fvp-sm-social-icons-type3 .fvp-sm-item {
	width: 80px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
}

/* Type 4 */
.fvp-sm-social-icons-type4 .fvp-sm-item {
	width: 40px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
}

/* Types 1,2,3,4 Shared Styles */

.fvp-sm-social-icons-type1 .fvp-sm-item .fa,
.fvp-sm-social-icons-type2 .fvp-sm-item .fa,
.fvp-sm-social-icons-type3 .fvp-sm-item .fa,
.fvp-sm-social-icons-type4 .fvp-sm-item .fa {
	color: #fff;
}

.fvp-sm-social-icons-type1 .fvp-sm-item.facebook,
.fvp-sm-social-icons-type2 .fvp-sm-item.facebook,
.fvp-sm-social-icons-type3 .fvp-sm-item.facebook,
.fvp-sm-social-icons-type4 .fvp-sm-item.facebook {
	background-color: #3b5998;
}
.fvp-sm-social-icons-type1 .fvp-sm-item.twitter,
.fvp-sm-social-icons-type2 .fvp-sm-item.twitter,
.fvp-sm-social-icons-type3 .fvp-sm-item.twitter,
.fvp-sm-social-icons-type4 .fvp-sm-item.twitter {
	background-color: #55acee;
}
.fvp-sm-social-icons-type1 .fvp-sm-item.whatsapp,
.fvp-sm-social-icons-type2 .fvp-sm-item.whatsapp,
.fvp-sm-social-icons-type3 .fvp-sm-item.whatsapp,
.fvp-sm-social-icons-type4 .fvp-sm-item.whatsapp {
	background-color: #43d854;
}
.fvp-sm-social-icons-type1 .fvp-sm-item.gplus,
.fvp-sm-social-icons-type2 .fvp-sm-item.gplus,
.fvp-sm-social-icons-type3 .fvp-sm-item.gplus,
.fvp-sm-social-icons-type4 .fvp-sm-item.gplus {
	background-color: #dd4b39;
}
.fvp-sm-social-icons-type1 .fvp-sm-item.email,
.fvp-sm-social-icons-type2 .fvp-sm-item.email,
.fvp-sm-social-icons-type3 .fvp-sm-item.email,
.fvp-sm-social-icons-type4 .fvp-sm-item.email {
	background-color: #828282;
}
.fvp-sm-social-icons-type1 .fvp-sm-item.linkedin,
.fvp-sm-social-icons-type2 .fvp-sm-item.linkedin,
.fvp-sm-social-icons-type3 .fvp-sm-item.linkedin,
.fvp-sm-social-icons-type4 .fvp-sm-item.linkedin {
	background-color: #0077b5;
}
.fvp-sm-social-icons-type1 .fvp-sm-item.pinterest,
.fvp-sm-social-icons-type2 .fvp-sm-item.pinterest,
.fvp-sm-social-icons-type3 .fvp-sm-item.pinterest,
.fvp-sm-social-icons-type4 .fvp-sm-item.pinterest {
	background-color: #bd081c;
}

/* Type 5 */
.fvp-sm-social-icons-type5 .fvp-sm-item {
	width: 40px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
}

/* Type 6 */
.fvp-sm-social-icons-type6 .fvp-sm-item {
	width: 40px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #fff;
	border-width: 2px;
	border-style: solid;
}

/* Type 7 */
.fvp-sm-social-icons-type7 .fvp-sm-item {
	width: 80px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
}

/* Type 8 */
.fvp-sm-social-icons-type8 .fvp-sm-item {
	width: 40px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
}

/* Type 9 */
.fvp-sm-social-icons-type9 .fvp-sm-item {
	width: 80px;
	height: 40px;
	font-size: 19px;
	line-height: 38px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #fff;
	border-width: 1px;
	border-top-width: 3px;
	border-style: solid;
}

/* Type 10 */
.fvp-sm-social-icons-type10 .fvp-sm-item {
	width: 80px;
	height: 40px;
	font-size: 19px;
	line-height: 38px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #fff;
	border-width: 1px;
	border-bottom-width: 3px;
	border-style: solid;
}

/* Types 5,6,7,8,9,10 Shared Styles */

.fvp-sm-social-icons-type5 .fvp-sm-item.facebook,
.fvp-sm-social-icons-type6 .fvp-sm-item.facebook,
.fvp-sm-social-icons-type7 .fvp-sm-item.facebook,
.fvp-sm-social-icons-type8 .fvp-sm-item.facebook,
.fvp-sm-social-icons-type9 .fvp-sm-item.facebook,
.fvp-sm-social-icons-type10 .fvp-sm-item.facebook {
	border-color: #3b5998;
}
.fvp-sm-social-icons-type5 .fvp-sm-item.facebook .fa,
.fvp-sm-social-icons-type6 .fvp-sm-item.facebook .fa,
.fvp-sm-social-icons-type7 .fvp-sm-item.facebook .fa,
.fvp-sm-social-icons-type8 .fvp-sm-item.facebook .fa,
.fvp-sm-social-icons-type9 .fvp-sm-item.facebook .fa,
.fvp-sm-social-icons-type10 .fvp-sm-item.facebook .fa {
	color: #3b5998;
}

.fvp-sm-social-icons-type5 .fvp-sm-item.twitter,
.fvp-sm-social-icons-type6 .fvp-sm-item.twitter,
.fvp-sm-social-icons-type7 .fvp-sm-item.twitter,
.fvp-sm-social-icons-type8 .fvp-sm-item.twitter,
.fvp-sm-social-icons-type9 .fvp-sm-item.twitter,
.fvp-sm-social-icons-type10 .fvp-sm-item.twitter {
	border-color: #55acee;
}
.fvp-sm-social-icons-type5 .fvp-sm-item.twitter .fa,
.fvp-sm-social-icons-type6 .fvp-sm-item.twitter .fa,
.fvp-sm-social-icons-type7 .fvp-sm-item.twitter .fa,
.fvp-sm-social-icons-type8 .fvp-sm-item.twitter .fa,
.fvp-sm-social-icons-type9 .fvp-sm-item.twitter .fa,
.fvp-sm-social-icons-type10 .fvp-sm-item.twitter .fa {
	color: #55acee;
}

.fvp-sm-social-icons-type5 .fvp-sm-item.whatsapp,
.fvp-sm-social-icons-type6 .fvp-sm-item.whatsapp,
.fvp-sm-social-icons-type7 .fvp-sm-item.whatsapp,
.fvp-sm-social-icons-type8 .fvp-sm-item.whatsapp,
.fvp-sm-social-icons-type9 .fvp-sm-item.whatsapp,
.fvp-sm-social-icons-type10 .fvp-sm-item.whatsapp {
	border-color: #43d854;
}
.fvp-sm-social-icons-type5 .fvp-sm-item.whatsapp .fa,
.fvp-sm-social-icons-type6 .fvp-sm-item.whatsapp .fa,
.fvp-sm-social-icons-type7 .fvp-sm-item.whatsapp .fa,
.fvp-sm-social-icons-type8 .fvp-sm-item.whatsapp .fa,
.fvp-sm-social-icons-type9 .fvp-sm-item.whatsapp .fa,
.fvp-sm-social-icons-type10 .fvp-sm-item.whatsapp .fa {
	color: #43d854;
}

.fvp-sm-social-icons-type5 .fvp-sm-item.gplus,
.fvp-sm-social-icons-type6 .fvp-sm-item.gplus,
.fvp-sm-social-icons-type7 .fvp-sm-item.gplus,
.fvp-sm-social-icons-type8 .fvp-sm-item.gplus,
.fvp-sm-social-icons-type9 .fvp-sm-item.gplus,
.fvp-sm-social-icons-type10 .fvp-sm-item.gplus {
	border-color: #dd4b39;
}
.fvp-sm-social-icons-type5 .fvp-sm-item.gplus .fa,
.fvp-sm-social-icons-type6 .fvp-sm-item.gplus .fa,
.fvp-sm-social-icons-type7 .fvp-sm-item.gplus .fa,
.fvp-sm-social-icons-type8 .fvp-sm-item.gplus .fa,
.fvp-sm-social-icons-type9 .fvp-sm-item.gplus .fa,
.fvp-sm-social-icons-type10 .fvp-sm-item.gplus .fa {
	color: #dd4b39;
}

.fvp-sm-social-icons-type5 .fvp-sm-item.email,
.fvp-sm-social-icons-type6 .fvp-sm-item.email,
.fvp-sm-social-icons-type7 .fvp-sm-item.email,
.fvp-sm-social-icons-type8 .fvp-sm-item.email,
.fvp-sm-social-icons-type9 .fvp-sm-item.email,
.fvp-sm-social-icons-type10 .fvp-sm-item.email {
	border-color: #828282;
}
.fvp-sm-social-icons-type5 .fvp-sm-item.email .fa,
.fvp-sm-social-icons-type6 .fvp-sm-item.email .fa,
.fvp-sm-social-icons-type7 .fvp-sm-item.email .fa,
.fvp-sm-social-icons-type8 .fvp-sm-item.email .fa,
.fvp-sm-social-icons-type9 .fvp-sm-item.email .fa,
.fvp-sm-social-icons-type10 .fvp-sm-item.email .fa {
	color: #828282;
}

.fvp-sm-social-icons-type5 .fvp-sm-item.linkedin,
.fvp-sm-social-icons-type6 .fvp-sm-item.linkedin,
.fvp-sm-social-icons-type7 .fvp-sm-item.linkedin,
.fvp-sm-social-icons-type8 .fvp-sm-item.linkedin,
.fvp-sm-social-icons-type9 .fvp-sm-item.linkedin,
.fvp-sm-social-icons-type10 .fvp-sm-item.linkedin {
	border-color: #0077b5;
}
.fvp-sm-social-icons-type5 .fvp-sm-item.linkedin .fa,
.fvp-sm-social-icons-type6 .fvp-sm-item.linkedin .fa,
.fvp-sm-social-icons-type7 .fvp-sm-item.linkedin .fa,
.fvp-sm-social-icons-type8 .fvp-sm-item.linkedin .fa,
.fvp-sm-social-icons-type9 .fvp-sm-item.linkedin .fa,
.fvp-sm-social-icons-type10 .fvp-sm-item.linkedin .fa {
	color: #0077b5;
}

.fvp-sm-social-icons-type5 .fvp-sm-item.pinterest,
.fvp-sm-social-icons-type6 .fvp-sm-item.pinterest,
.fvp-sm-social-icons-type7 .fvp-sm-item.pinterest,
.fvp-sm-social-icons-type8 .fvp-sm-item.pinterest,
.fvp-sm-social-icons-type9 .fvp-sm-item.pinterest,
.fvp-sm-social-icons-type10 .fvp-sm-item.pinterest {
	border-color: #bd081c;
}
.fvp-sm-social-icons-type5 .fvp-sm-item.pinterest .fa,
.fvp-sm-social-icons-type6 .fvp-sm-item.pinterest .fa,
.fvp-sm-social-icons-type7 .fvp-sm-item.pinterest .fa,
.fvp-sm-social-icons-type8 .fvp-sm-item.pinterest .fa,
.fvp-sm-social-icons-type9 .fvp-sm-item.pinterest .fa,
.fvp-sm-social-icons-type10 .fvp-sm-item.pinterest .fa {
	color: #bd081c;
}


/* Type 11 */
.fvp-sm-social-icons-type11 .fvp-sm-item {
	width: 80px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #8D8767;
	border-width: 2px;
	border-style: solid;
	border-color: #333333;
}

.fvp-sm-social-icons-type11 .fvp-sm-item .fa {
	color: #fff;
}

/* Type 11 */
.fvp-sm-social-icons-type11 .fvp-sm-item {
	width: 80px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #E2E2E2;
}

.fvp-sm-social-icons-type11 .fvp-sm-item .fa {
	color: #59616D;
}

/* Type 12 */
.fvp-sm-social-icons-type12 .fvp-sm-item {
	width: 80px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #6d6d6d;
	border-width: 1px;
	border-style: solid;
	border-color: #424242;
}

.fvp-sm-social-icons-type12 .fvp-sm-item .fa {
	color: #fff;
}


/* Type 13 */
.fvp-sm-social-icons-type13 .fvp-sm-item {
	width: 80px;
	height: 40px;
	font-size: 19px;
	line-height: 42px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #E2E2E2;
}

.fvp-sm-social-icons-type13 .fvp-sm-item.facebook .fa {
	color: #3b5998;
}
.fvp-sm-social-icons-type13 .fvp-sm-item.twitter .fa {
	color: #55acee;
}
.fvp-sm-social-icons-type13 .fvp-sm-item.whatsapp .fa {
	color: #43d854;
}
.fvp-sm-social-icons-type13 .fvp-sm-item.gplus .fa {
	color: #dd4b39;
}
.fvp-sm-social-icons-type13 .fvp-sm-item.email .fa {
	color: #828282;
}
.fvp-sm-social-icons-type13 .fvp-sm-item.linkedin .fa {
	color: #0077b5;
}
.fvp-sm-social-icons-type13 .fvp-sm-item.pinterest .fa {
	color: #bd081c;
}

/* Hover */
.fvp-sm-item:hover {
	background-color: #cecece !important;
}

/* Hide whatsapp on desktop and tablet */
@media only screen and (min-device-width:481px) {
	.fvp-sm-item.whatsapp {
		display: none;
	}
}

/*
	=============================
		Options Panel
	=============================
*/

#fvp-sm-sortable1, #fvp-sm-sortable2 {
	border: 1px solid #eee;
	width: 192px;
	min-height: 353px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	background-color: #eaeaea;
	border: 1px solid #555;
}
#fvp-sm-sortable1 li, #fvp-sm-sortable2 li {
	margin: 0 5px 5px 5px;
	padding: 10px;
	font-size: 1.3em;
	width: 160px;
	cursor: move;
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}

.fvp-sm-img-buttons-style {
	max-width: 100%;
	max-height: 70px;
}
